GOOGLE_API_KEY_1=

GOOGLE_API_KEY_2=

GOOGLE_API_KEY_3=

GOOGLE_API_KEY_4=

GOOGLE_API_KEY_5=

DATABASE_URL=sqlite:///backend/database/database.db

APP_NAME=Digital Twin

APP_ENV=development

LOG_LEVEL=INFO